---
import { useTranslations } from '../../i18n/config';

// Importar los datos de forma estática
import esData from '../../i18n/lang/es/screen1.json';
import enData from '../../i18n/lang/en/screen1.json';

const { lang } = Astro.props;
const t = useTranslations(lang);

// Seleccionar los datos según el idioma
const data = lang === 'es' ? esData : enData;

console.log('SCREEN 1 white - home')
---
<section class="section-1 h-full w-full fixed top-0 invisible">
  <div class="outer w-full h-full overflow-hidden">
    <div class="inner w-full h-full overflow-hidden">
      <div class="bg bg-1 absolute w-full h-screen">
        <div class="w-full h-screen relative">
          <div class="section-heading-top absolute w-full xsm:h-[96%] flex justify-center lg:justify-end items-center" data-delay="0.7">
            <img src="/assets/thunderGray.svg" class="h-[100%] 2xl:mr-[265px] z-0" alt="">
          </div>
          <div class="w-full h-full flex flex-col lg:flex-row items-center justify-center lg:justify-start gap-[40px] lg:gap-[80px] xl:gap-[100px] lg:ml-[10%] xl:ml-[8%] 2xl:ml-[19%] z-0">
            <div class="lg:h-full flex justify-center items-center md:justify-start md:items-start  z-10 lg:max-h-[300px] 2xl:max-h-[355px]">
              <h2 class="section-heading  w-fit flex lg:hidden justify-start text-[120px] leading-[120px] md:text-[140px] md:leading-[130px] lg:text-[130px] lg:leading-[140px] xl:text-[180px] xl:leading-[180px] 2xl:text-[220px] 2xl:leading-[220px] text-white font-MadeCanvas font-[900] text-left tracking-[0] max-w-[1200px] lg:mt-[-15px] xl:mt-[-25px] 2xl:mt-[-20px]" data-delay="0.4">
                {data.heading}
              </h2>
              <h2 class="section-heading-left  w-fit hidden lg:flex justify-start text-[120px] leading-[120px] md:text-[140px] md:leading-[130px] lg:text-[130px] lg:leading-[140px] xl:text-[180px] xl:leading-[180px] 2xl:text-[220px] 2xl:leading-[220px] text-white font-MadeCanvas font-[900] text-left tracking-[0] max-w-[1200px] lg:mt-[-15px] xl:mt-[-25px] 2xl:mt-[-20px]" data-delay="0.4">
                {data.heading}
              </h2>
            </div>
            <div class="flex flex-col justify-center items-center lg:justify-start lg:items-start gap-4 md:gap-8 z-10">
              <h3 class=" section-heading text-[22px] leading-[26px] md:text-[32px] md:leading-[36px] lg:text-[42px] lg:leading-[46px] xl:text-[46px] xl:leading-[50px] font-RobotoSlab text-center lg:text-left tracking-[0em] max-w-[275px] md:max-w-[400px] lg:max-w-[550px] xl:max-w-[650px]" data-delay="0.4" set:html={data.description}>
              </h3>
              <p class=" section-heading text-[14px] leading-[18px] lg:text-[26px] lg:leading-[32px] 2xl:text-[26px] 2xl:leading-[34px] font-RobotoSlab font-extralight text-center lg:text-left tracking-[0em] max-w-[275px] md:max-w-[400px] lg:max-w-[550px] xl:max-w-[700px]" data-delay="0.6" set:html={data.text}>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-1 {
    background: #121212 !important;
  }
  
  .bg-1 h2,
  .bg-1 h3 {
    color: #fff;
  }
</style>
