@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MadeCanvas';
  src: url('/fonts/MadeCanvas-Regular.woff2') format('woff2'),
       url('/fonts/MadeCanvas-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MadeCanvas';
  src: url('/fonts/MadeCanvas-Black.woff2') format('woff2'),
       url('/fonts/MadeCanvas-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --swiper-theme-color: #121212;
}

html, body {
  background-color: #121212 !important;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.bg-LoadingRedirect {
  background: #000 !important; /* Cambiado a blanco para que coincida con la imagen de maqueta */
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  /*visibility: hidden;  <-- Aquí también se ocultan las secciones */
}

.section-heading {
  visibility: hidden;
}

.section-heading-left {
  visibility: hidden;
}

.section-heading-right {
  visibility: hidden;
}

.section-heading-top {
  visibility: hidden;
}

.section-heading-bottom {
  visibility: hidden;
}

/* Swiper styles */
.swiper-pagination-bullet {
  background-color: #121212 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}